/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Nov-2018, 20:08:33
    Author     : Robert
*/



header {
  background-color: background;  
  text-align: center;
  font-size: 35px;
  color: white;
  height: 15%;
  width: 100%;
}